#miAnimacion {
    margin: 25px;
    width: 550px;
    height: 100px;
    background-color: orange;
    position: relative;
    font-size: 20px;
}

@-webkit-keyframes mymove {
    from {top: 0px;};
    to {top: 200px;};
}

@keyframes mymove {
    from {top: 0px;};
    to {top: 200px;};
}